services:
  web:
    build: .
    env_file:
      - .env
    environment:
      FLASK_APP: app
      FLASK_ENV: development
      PYTHONPATH: /app
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    env_file:
      - .env
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7

  pgadmin:
    image: dpage/pgadmin4
    env_file:
      - .env
    ports:
      - "5050:80"
    depends_on:
      - db

volumes:
  pgdata:
